<section>

    <div class="social_container">
        <a href="http://thepalmars1one.pythonanywhere.com/" target="_blank">
            <img src="assets/img/logo_alejandro.svg" alt="Alejandro Palmar" class="alejandro_icon">
        </a>

        <div class="footer_media">
            <a href="https://github.com/ThePalmars1one?tab=repositories" target="_blank">
                <img src="assets/img/github.svg" alt="Github icon">
            </a>
            <a href="https://www.linkedin.com/in/alejandro-palmar-a48639265/" target="_blank">
                <img src="assets/img/linkedin.svg" alt="LinkedIn Icon">
            </a>
        </div>

    </div>


</section>