<section class="input_container">

    <div class="searchBar_container">
        <img src="assets/img/search.svg" alt="Search Icon">
        <input type="text" class="searchBar" placeholder="FIND YOUR HERO" [(ngModel)]="search" (input)="filterHeroes()">
    </div>

</section>



<section class="filters_container">

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Powerstats</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let category of categories" (click)="getHeroesByPowerstats(category)">{{ category
                }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Gender</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let gender of genders" (click)="getHeroesByGenders(gender)">{{ gender }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Race</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let race of races" (click)="getHeroesByRaces(race)">{{ race }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Height</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let height of heights.sort()" (click)="getHeroesByHeights(height)">{{ height }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Weight</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let weight of weights.sort()" (click)="getHeroesByWeights(weight)">{{ weight }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Eye Color</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let eye of eyeColors" (click)="getHeroesByEyecolors(eye)">{{ eye }}</button>
        </div>

    </div>

    <div class="buttonFilter_container" (mouseover)="showPowerstatButtons = true"
        (mouseleave)="showPowerstatButtons = false">

        <div class="buttonFilter_header">
            <h2>Hair Color</h2>
            <img src="assets/img/arrow.svg" alt="Arrow Icon">
            <img src="assets/img/arrow2.svg" alt="Arrow Icon">
        </div>

        <div class="filter_buttons" *ngIf="showPowerstatButtons">
            <button *ngFor="let hair of hairColors" (click)="getHeroesByHaircolors(hair)">{{ hair }}</button>
        </div>

    </div>

</section>

<div class="restart_container">
    <button class="restart_filters" (click)="restartHeroes()"><img src="assets/img/restart.png" alt="Restart icon">
    </button>
</div>


<section class="heroes_container">
    <div *ngFor="let hero of actualHeroes | paginate:{ itemsPerPage: 9, currentPage: page, totalItems: actualHeroes.length }"
        class="hero_card">

        <img [src]="hero.image.url">

        <div class="hero_name">
            <h2>{{hero.name}}</h2>
        </div>

        <div class="hero_stats_container">

            <div class="hero_stats">

                <h2>{{hero.powerstats.intelligence}}</h2>
                <h2>{{hero.powerstats.strength}}</h2>
                <h2>{{hero.powerstats.power}}</h2>
                <h2>{{hero.powerstats.speed}}</h2>
                <h2>{{hero.powerstats.combat}}</h2>
                <h2>{{hero.powerstats.durability}}</h2>

            </div>

            <div class="hero_stats_names">

                <h2>Intelligence</h2>
                <h2>Strength</h2>
                <h2>Power</h2>
                <h2>Speed</h2>
                <h2>Combat</h2>
                <h2>Durability</h2>

            </div>


        </div>


    </div>

</section>

<div *ngIf="allHeroes.length <= 5" class="loading">
    <h2>LOADING</h2>
    <img src="assets/img/loading.gif" alt="Loading GIF">
</div>

<div *ngIf="noHeroesFound" class="noHeroesFound">
    NO HEROES FOUND.
</div>

<section class="pagination_container">
    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)='OnchangePages($event)'>
    </pagination-controls>
</section>