<section class="home_container">
    <div class="home_name">
        <h1>Superhero App</h1>
    </div>

    <div class="home_info">
        <p> FIND OUT EVERYTHING YOU
            WANT TO KNOW ABOUT
            YOUR FAVORITES
            HEROES!</p>
    </div>

    <div class="home_icons">
        <img src="assets/img/spiderman.png" alt="Spiderman Icon">
        <img src="assets/img/antman.png" alt="Spiderman Icon">
        <img src="assets/img/superman.png" alt="Spiderman Icon">
        <img src="assets/img/batman.png" alt="Spiderman Icon">
    </div>

</section>

<app-render-heroes></app-render-heroes>
<app-footer></app-footer>
